:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none; /* Old code */
  -webkit-text-size-adjust: 100%;

  /* Fixed code */
  text-size-adjust: 100%;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* text-align: center; */
}

.Chat {
  /* display: flex; */
  text-align: center;
  position: absolute;
  top: 10;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90vh;
  width: 100vw;
}

.sidemenu {
  flex: 0.2;
  padding: 40px solid white;
  background-color: #202123;
}

.side-menu-button {
  padding: 15px;
  border: 1px #fff solid;
  border-radius: 5px;
  transition: ease 0.25s all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.side-menu-button span {
  padding-left: 6px;
  padding-right: 5px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.audio-player audio {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}
